//?      Sass중첩 규칙
//?      1)html과 같은 방식으로 css선택자를 중첩할 수 있습니다.
//?
//?
$my_color:black;

nav {
  ul{
    list-style: none;
    color:$my_color;
    margin:0;
    padding:0;
    display: flex;
    justify-content: space-around;
  }
  li{
    padding:5px 10px;
  }
  a{
    display: block;
    text-decoration: none;
  }
}
