//?
//?    mix in
//?    @mixin name
//?    property:value;
//?    property:value;
//?    .....

@mixin important-text{
  color: red;
  font-size:25px;
  font-weight:bold;
  border:1px solid black;
  letter-spacing: -0.05;
  word-spacing:5px;
}
.danger{
  @include important-text;
  background: green;
}
header{
  @include important-text;
  nav{

    ul{
      display: flex;
      li{
        a{
          text-decoration: none;

        }
      }
    }
  }
}




