@charset "UTF-8";
/*색상정의*/
body {
  background-color: lightblue;
  color: darkblue;
  font-size: 18px;
}

.main-header {
  background-color: #a2b9bc;
}

.menu-left {
  background-color: #b2ad7f;
}

/*
Sass변수
- 변수는 나중에 다시 사용할수 있는 정보를 저장하는 방법
- sass를 사용하면 다음과 같은 변수에 정보를 
저장할수 있습니다
- string
- numbers
- colors
- booleans
- lists
- nulls

sass변수 구문
$variablename : value;
*/
#container {
  width: 680px;
}